      header{
        background-color:pink;
        color: yellow;
        font-size:2em;
        padding:1em;
      }
      
      h1{
        font-family: fantasy;
        filter: drop-shadow(5px 5px 2px #4444dd);
      }
      
      section{
        border-bottom:1px dashed gray;
      }

/*
https://stackoverflow.com/questions/39517793/how-can-we-make-a-4-by-4-grid-using-css
*/
* { box-sizing: border-box; }
#container { width: 40%; display: flex; flex-direction: row; flex-wrap: wrap; background: green; }

#container > div { width: 25%; height: 10vw; border: white 1px solid; }

#character-images { width: 54%; display: flex; flex-direction: row; flex-wrap: wrap; }

#character-images > div { width: 11.11%; height: 6vw; border: white 1px solid; }

img{
    max-width: 100%;
    max-height: 100%;
}


#characters-admin { width: 54%; display: flex; flex-direction: row; flex-wrap: wrap; }

#characters-admin > div { width: 11.11%; height: 10vw; border: 2px solid #ccc; margin:10px; }