@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*------------------------GENERAL------------------------*/

body{
    background-color: #26282a;
    font-family: 'Roboto Condensed', sans-serif;
}

/* https://www.w3schools.com/howto/howto_js_topnav.asp */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #090809;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #e40712;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #979AA4;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e40712;
  color: white;
}

canvas{
    border: 2px solid #ccc; 
}

.redbox{
    border: 5px solid #e40712;
    background-color: black;
    border-radius: 10px;
}


/*----------------------------MAIN APP PAGE---------------------------------*/

/*
https://stackoverflow.com/questions/39517793/how-can-we-make-a-4-by-4-grid-using-css
*/
* { box-sizing: border-box; }

#container { width: 36%; height: 36vw; display: flex; flex-direction: row; flex-wrap: wrap; background: #979AA4; margin:auto; margin-top:4vh; padding: 0.5%;}

#container > div {margin: 0.2%; border: black 3px solid; border-radius: 0.5em; display: flex; flex-direction: column; justify-content: center; align-items: center; background: #ddd;}

#container > .textboxX { width: 26.4666%; height: 9.5%;  }

#container > .textboxY { width: 19%; height: 29.6333%; }

#container > .textboxXY { width: 19%; height: 9.5%; }

#container > .box { width: 26.4666%; height: 29.6333%; }

#character-images { width: 54%; display: flex; flex-direction: row; flex-wrap: wrap; margin: auto; background-color: #979AA4;}

#character-images > div { width: 11.11%; height: 6vw; border: black 3px solid; border-radius: 0.5em; background-color: #ddd; margin: auto;}

#chartButtons {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;}

#chartButtons * {margin: 2vh; }

img{
    max-width: 100%;
    max-height: 100%;
}

/*--------------------------------ADMIN PAGE------------------------------*/

#characters-admin { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; }

#characters-admin > div {width: 100%; display: flex; flex-direction: row; flex-wrap: wrap;}

.cboxadmin { width: 25vw; height: 15vw; border: 2px solid #ccc; margin:20px; display: flex; flex-direction: column; flex-wrap: wrap;}

.cboxadmin > img {width: 10vw; height: 10vw; padding: 2vw;}

.cboxadmin > button {margin: 2vw;}