
      
      h1{
        font-family: fantasy;
        filter: drop-shadow(5px 5px 2px #4444dd);
      }
      
      section{
        border-bottom:1px dashed gray;
      }

/*
https://stackoverflow.com/questions/39517793/how-can-we-make-a-4-by-4-grid-using-css
*/
* { box-sizing: border-box; }
#container { width: 40%; display: flex; flex-direction: row; flex-wrap: wrap; background: green; }

#container > div { width: 25%; height: 10vw; border: white 1px solid; }

#character-images { width: 54%; display: flex; flex-direction: row; flex-wrap: wrap; }

#character-images > div { width: 11.11%; height: 6vw; border: white 1px solid; }

img{
    max-width: 100%;
    max-height: 100%;
}


#characters-admin { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; }

#characters-admin > div {width: 100%; display: flex; flex-direction: row; flex-wrap: wrap;}

.cboxadmin { width: 25vw; height: 15vw; border: 2px solid #ccc; margin:20px; display: flex; flex-direction: column; flex-wrap: wrap;}

.cboxadmin > img {width: 10vw; height: 10vw; padding: 2vw;}

.cboxadmin > button {margin: 2vw;}

/* https://www.w3schools.com/howto/howto_js_topnav.asp */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #090809;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #e40712;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e40712;
  color: white;
}